In [4]:
import pandas as pd
import numpy as np

titanic_df = pd.read_csv('E:/data/train.csv')
print(titanic_df.head(3))

PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [5]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [7]:
# 1차원 DataFrame

col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)
df_list1 = pd.DataFrame(list1,columns=col_name1)
df_array1 = pd.DataFrame(array1,columns=col_name1)
print(df_list1)
print(df_array1)

col1
0     1
1     2
2     3
   col1
0     1
1     2
2     3

In [4]:
col_name2 = ['col1','col2','col3']
list2 = [[1,2,3],
         [11,12,13]]
array2 = np.array(list2)
df_list2 = pd.DataFrame(list2,columns=col_name2)
df_array2 = pd.DataFrame(array2,columns=col_name2)
print(df_list2)
print(df_array2)

col1  col2  col3
0     1     2     3
1    11    12    13
   col1  col2  col3
0     1     2     3
1    11    12    13

In [9]:
dict = {'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print(df_dict)

col1  col2  col3
0     1     2     3
1    11    22    33

In [11]:
array3 = df_dict.values
print(array3)
list3 = df_dict.values.tolist()
print(list3)
dict3 = df_dict.to_dict('list')
print(dict3)

[[ 1  2  3]
 [11 22 33]]
[[1, 2, 3], [11, 22, 33]]